<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-10">
    </div>

    <div class="col-sm-1">
      <button type="submit" class="btn btn-primary" (click)="createClass()">Create</button>
    </div>
    <div class="col-sm-1">
      <button type="submit" class="btn btn-primary" (click)="joinClass()" >Join</button>
    </div>
  </div>
</div>

<br>
<!-- <div class="row">
    <div class="col-sm-1"> -->

      <!-- CREATED CLASSESS -->
      <h1 *ngIf ="createdClasses">CREATED CLASSESS</h1>
<div fxLayout="row wrap" fxLayoutAlign = "space-evenly" >
   <mat-card class="example-card" *ngFor="let clas of createdClasses " [routerLink]="['/classdetail', clas.id]">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{clas.classname}}</mat-card-title>
      <mat-card-subtitle>{{clas.classcode}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

          <!-- jOINED CLASSESS -->
          <h1 *ngIf="joinedClasses">JOINED CLASSESS</h1>
 <div fxLayout="row wrap" fxLayoutAlign = "space-evenly" >
    <mat-card class="example-card" *ngFor="let clas of joinedClasses " [routerLink]="['/classdetail', clas.id]">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{clas.classname}}</mat-card-title>
      <mat-card-subtitle>{{clas.classcode}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
         
<!--   
  <div fxLayout="row wrap" fxLayoutAlign = "space-evenly" >
    <mat-card  class="example-card" *ngFor="let dog of classess " [routerLink]="['/classdetail', dog.id]">
          <mat-card-header>
            <mat-card-title>{{dog.title}}</mat-card-title>
            <mat-card-subtitle>{{dog.rel}}
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{dog.overview}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
  </div> -->


  


