<!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Learn-Box</span>
    <span class="example-spacer"></span>
      
    <button (click)="signupForm()" type="button" class="btn btn-dark">SignUp</button>
    <button (click)="loginForm()" type="button" class="btn btn-dark">Login</button>
    <button (click)="logout()" type="button" class="btn btn-dark">Logout</button>
    
  </mat-toolbar> -->

  <nav class="navbar navbar-custom navbar-expand-lg  text-uppercase fixed-top" id="mainNav" style="padding:20px" >
    <div class="container">
        <!-- <a class="navbar-brand" href="#page-top" style="color: white;font-size: 30px;">Learn Box</a> -->
        
        <div class="navbar" id="navbarResponsive" style="padding-left: 1050px;">
            <ul class="navbar-nav" style="color: black;" >
                <li class="" ><a style="padding-right: 40px; color: black;"  (click)="signupForm()" class="nav-link  " >SignUp</a></li>
                <li class=""><a style="color: black;"  (click)="loginForm()" class="nav-link  " >Login</a></li>
                
            </ul>
        </div>
    </div>
</nav>


<header class="masthead">
  <div class="container" style="padding-top: 60px;color: black;">
      <div class="masthead-heading text-uppercase">Learn-Box</div>
      <div class="masthead-subheading">Where Real Learning Starts!</div>
      <a class="btn btn-success btn-xl text-uppercase "href="https://rzp.io/l/WMhAcP6QBU">Start</a>
  
   </div>
</header>




<section class="showcase">
   <div class="container-fluid p-0">
     <div class="row no-gutters">
 
       <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./assets/cover2.png');"></div>
       <div class="col-lg-6 order-lg-1 my-auto showcase-text">
         <h2>HOW IT WORKS</h2>
         <p class="lead mb-0" style="font-size: 20px;">So far, support for GreenWorld has planted over 2 million trees across 5,930 acres. Because our partners are involved in every step of the reforestation process,
              each £5 donation covers the seed collection, growing, planting and protection,
               guaranteeing a new forest to help biodiversity and tackle climate change.!</p>
       </div>
     </div>
     <div class="row no-gutters">
       <div class="col-lg-6 text-white showcase-img" style="background-image: url('./assets/3.jpg');"></div>
       <div class="col-lg-6 my-auto showcase-text">
         <h2>THE RIGHT TREE IN THE RIGHT PLACE</h2>
         <p class="lead mb-0">Every one of WLT’s partners and projects is unique. Our reforestation programme has fundamental principles that ensure that native species are planted, supporting conservation and creation of a wildlife-rich habitat, will benefit local communities, reconnect forest areas, and store carbon.
           Reforestation projects may include ‘active restoration’ through planting out tree seedlings as well as assisted natural regeneration.
                      Ongoing care is vital in the first years after planting and partners clear all surrounding grasses and other competing vegetation to enhance tree survival rates.!</p>
       </div>
     </div>
     <div class="row no-gutters">
       <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./assets/2.jpg');"></div>
       <div class="col-lg-6 order-lg-1 my-auto showcase-text">
         <h2>GROWING A FOREST</h2>
         <p class="lead mb-0">Every one of our partners nurture and protect these newly planted trees, making sure that the habitats successfully regreen, including replacing any seedlings that don’t survive.
        
           So far, support for Plant a Tree has planted over 2 million trees across 5,930 acres. Because our partners are involved in every step of the reforestation process, each £5 donation covers the seed collection, growing, planting and protection, guaranteeing a new forest to help biodiversity and tackle climate change.!</p>
       </div>
     </div>
   </div>
 </section>

 <header class="masthead2 text-white text-center">
   <div class="overlay"></div>
   <div class="container">
       <div class="row">
           <div class="masthead2-heading" style="padding-bottom: 40px;padding-left: 90px;">Join with us to complete this project!</div>
           <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
               <form>
                   <div class="form-row">
                       <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" type="email" placeholder="Enter your email..." /></div>
                       <div class="col-12 col-md-3"><button class="btn btn-block btn-lg btn-primary" type="submit">Sign up!</button></div>
                   </div>
               </form>
           </div>
       </div>
   </div>
</header>

 <!--Footer-->

 <footer class="footer text-center">
   <div class="container">
       <div class="row">
           <!-- Footer Location-->
           <div class="col-lg-4 mb-5 mb-lg-0">
               <h4 class="text-uppercase mb-4">Location</h4>
               <p class="lead mb-0">
                   Plot 75 ,Rahul Nagar
                   <br />
                   Josh, MO 65243
               </p>
           </div>
           <!-- Footer Social Icons-->
           <div class="col-lg-4 mb-5 mb-lg-0">
               <h4 class="text-uppercase mb-4">Around the Web</h4>
               <a href="#" class="fa fa-twitter"></a>
               <a href="#" class="fa fa-google"></a>
               <a href="#" class="fa fa-linkedin"></a>
               <a href="#" class="fa fa-youtube"></a>
              
           </div>
           <!-- Footer About Text-->
           <div class="col-lg-4">
               <h4 class="text-uppercase mb-4">About Green World</h4>
               <p class="lead mb-0">
                   GreenWorld ,a project which aims to make the earth green
                   
                   
               </p>
           </div>
       </div>
   </div>
</footer>
 