<br>


<div class="container-fluid">
    
    <img src="./assets/{{selectedClass.imgurl}}.png" alt="yes">
        <div class = "title">
            <p> {{selectedClass.classname}}</p>
            <p>{{selectedClass.description}}</p>
        </div>
        <div class="classcode">
            <p>Class Code : {{selectedClass.classcode}} </p>
        </div>
  </div>
  
  
  
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-2 sidenav">
      </div>
  
      <div class="col-sm-9">
  
        <div class="card" style="width: 18rem;">
          <!-- <img class="card-img-top"  alt="Card image cap">
          <div class="card-body">
            <h1>{{selectedClass.id}}</h1>
            <h5 class="card-title">{{selectedClass.name}}</h5>
            <p class="card-text">{{selectedClass.description}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div> -->
        </div>        
        
  
        <h4>Comment:</h4>

        <form novalidate [formGroup]="commentForm" >
                      <div class="form-group">
                        <textarea class="form-control" formControlName="comment" placeholder="Announce something to your class" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-success" (click)="submitComment()">Submit</button>
         </form>
        
       
         <!-- <mat-list >
          <mat-list-item *ngIf = "!checked">
            <img matListAvatar src =  "./assets/back1.jpg" alt ="yes">
            <a (click)="check()" style="color: black;">Announce something to your class</a>
           </mat-list-item>
           <mat-list-item *ngIf = "checked">
            <form novalidate [formGroup]="commentForm" >
              <div class="form-group">
                <textarea class="form-control" formControlName="comment" placeholder="Announce something to your class" rows="3" required></textarea>
                </div>
               
            </form>
           </mat-list-item>
        </mat-list>
        <button type="submit" class="btn btn-success" (click)="submitComment()">Submit</button> -->
        
     
         <mat-list *ngIf =" comments" >
            <mat-list-item *ngFor = "let comment of comments " >
              <img matListAvatar src =  "./assets/back1.jpg" alt ="yes">
                  <div mat-line style="color: black;">{{comment.text}} </div>
                  <div mat-line style="color: black;">--{{comment.username}} {{comment.time}}</div>
            </mat-list-item>
          </mat-list>

          
        <br><br>
    
      </div>
    </div>
  </div>
    