<h1>CREATE CLASS</h1>
<br><br>
<form novalidate [formGroup]="createClassForm" >
    <div class="form-group">
      <label for="exampleInputEmail1">Class Name</label>
      <input type="text" class="form-control"  formControlName="classname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Class Name">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <input type="text" class="form-control" formControlName="description" id="exampleInputPassword1" placeholder="Enter Description">
    </div>
    
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitCreateClassForm()">Submit</button>
    <button type="submit" class="btn btn-primary" (click)="sample()">Sample</button>
  </form>