<h1>Join CLASS</h1>
<br><br>
<form novalidate [formGroup]="joinClassForm" >
    <div class="form-group">
      <label for="classcode">ClassCode</label>
      <input type="text" class="form-control"  formControlName="classcode" id="classcode" aria-describedby="classcode" placeholder="Enter classcode">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitJoinClassForm()">Submit</button>
  </form>